@import "background.css";
@import "navbar.css";

#books-div {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#books-div a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background: #303030;
  border-radius: 1rem;
  opacity: 0.5;
  color: #fff;
  text-align: center;
}

#books-div a:hover {
  opacity: 0.9;
  text-align: center;
  color: white;
  background: #333333;
}

.current {
  background: #333;
}
